* {
margin: 0;
padding: 0;
}

body {
background-color: rgb(253, 251, 251);
font-size: 20px;
}
#cabecalho {
position: fixed;
background-color: green;
width: 100%;
top: 0;
height: 125px;
}
#titulo {
text-align: center;
margin-top: 10px;
color: white;
}
#login {
color: white;
margin: 10px 50px;
/* margin-top: 10px; */
}